:root {
  /* App Colors */
  /* 한단계 더 추상화 해서 사용 */
  --color-primary: var(--color-black);

  /*basic Colors */

  --color--white: #ffffff;

  --color-black: #000000;

  --color-mustard: #efc056;

  --color-skyBlue: #c3fcf2;

  --color-darkGreen: #007664;

  --color-pink: #ec7ef6;

  --color-blue: #00bed4;

  --color-green: #00b031;

  --color-yellow: #ebc812;

  --color-red: #fb3939;

  --color-gray-1: #e0e0e0;

  --color-gray-2: #bdbdbd;

  --color-gray-3: #828282;

  --color-gray-4: #4f4f4f;

  --color-gray-5: #333;
}
